.seal-btn-warning{
    color:@color-text;
    border-color:@color-warning;
    background-color: @color-warning;
    &:hover{
        background-color:@color-warning-active;
        border-color:@color-warning-active;
    }
    &.nm-btn-disabled,
    &.nm-btn-disabled:hover{
        background-color:@color-warning-disabled;
        border-color:@color-warning-disabled;
    }
}