.seal-btn-success{
    color:@color-text;
    border-color:@color-success;
    background-color: @color-success;
    &:hover{
        background-color:@color-success-active;
        border-color:@color-success-active;
    }
    &.nm-btn-disabled,
    &.nm-btn-disabled:hover{
        background-color:@color-success-disabled;
        border-color:@color-success-disabled;
    }
}