.seal-btn-dark{
    color:@color-text;
    border-color:@color-dark;
    border-width: 0px;
    background-color: @color-dark;
    &:hover,
    &:focus{
      color:#fff;
    }
    &:hover,
    &.active{
        background-color:@color-dark-active;
        border-color:@color-dark-active;
    }
    &.seal-btn-disabled,
    &.seal-btn-disabled:hover{
        background-color:@color-dark-disabled;
        border-color:@color-dark-disabled;
    }
}