.seal-btn-primary{
    color:@color-text;
    border-color:@color-primary;
    background-color: @color-primary;
    &:hover{
        background-color:@color-primary-active;
        border-color:@color-primary-active;
    }
    &.nm-btn-disabled,
    &.nm-btn-disabled:hover{
        background-color:@color-primary-disabled;
        border-color:@color-primary-disabled;
    }
}